@charset "utf-8";
html,
body {
  font-family: "Helvetica Neue", Arial, "Microsoft Yahei", Helvetica, sans-serif, Lato;
  color: #10181f;
  height: 100%;
}
/* 轮播图 */
.yu-carousel {
  margin-bottom: 30px;
}
.yu-carousel li {
  background-color: #999;
}
.yu-carousel.active {
  background-color: red;
}
#carousel-example-generic img {
  position: relative;
  left: 0;
  margin-top: -100px;
  z-index: -1;
}
.yu-wrap {
  position: relative;
  top: 0;
  background: #fff;
  width: 100%;
  height: auto;
}
.yu-wrap:hover {
  cursor: pointer;
}
/* 手机展示 */
.yu-phone {
  background-color: white;
  position: relative;
  z-index: 20;
  text-align: center;
  padding: 10%;
}
.yu-phone .row .col-sm-4:hover {
  cursor: pointer;
}
.yu-phone .row .col-sm-4:hover p,
.yu-phone .row .col-sm-4:hover div {
  color: #ef3756;
}
.yu-phone .row .col-sm-4 img {
  width: 269px;
}
.yu-phone .row .col-sm-4 p {
  margin-top: 20px;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.yu-phone .row .col-sm-4 div {
  color: #63686d;
  font-size: 20px;
}
.yu-san-er {
  display: none;
}
@media screen and (max-width: 750px) {
  .yu-san-er {
    padding: 50px 0;
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 20;
    background: white;
  }
  .yu-san-er .carousel-inner img {
    width: 200px;
    height: auto;
    margin: 0 auto;
    z-index: 20;
  }
  .yu-san-er .yu-top {
    margin-bottom: -50px;
  }
  .yu-san-er .yu-top li {
    background-color: #999;
  }
  .yu-san-er .yu-top .active {
    background-color: #d9d9d9;
  }
  .yu-san-er .yu-center {
    text-align: center;
  }
  .yu-san-er .yu-center p,
  .yu-san-er .yu-center div {
    font-size: 1.5em;
  }
  .yu-san-er #carousel-example-generic img {
    position: relative;
    left: 0;
    margin-top: 0;
    z-index: -1;
  }
  .yu-san-er .yu-wrap {
    position: relative;
    top: 0;
    background: #fff;
    width: 100%;
    height: auto;
  }
  .yu-san-er .yu-wrap:hover {
    cursor: pointer;
  }
  .yu-phone {
    display: none;
  }
}
/* 说明图 */
.yu-bao .row .col-sm-4 {
  padding-left: 0;
  padding-right: 0;
}
.yu-bao .row .col-sm-4:hover {
  cursor: pointer;
}
.yu-bao .row .col-sm-4:hover span {
  top: -100px;
}
.yu-bao .row .col-sm-4:hover div {
  bottom: 0;
}
.yu-bao .row .col-sm-4 span {
  background: red;
  display: inline-block;
  background-size: cover!important;
  display: block;
  width: 100%;
  height: 540px;
  position: relative;
  transition: all .15s linear;
  top: 0;
}
.yu-bao .row .col-sm-4 div {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  color: white;
  padding: 21px 5% 0;
  background-color: #3c3c3c;
  background: #3c3c3c;
  position: absolute;
  z-index: 5;
  bottom: -100px;
  color: #fff;
  transition: all .15s linear;
}
.yu-bao .row .col-sm-4 div h3 {
  font-size: 1.8rem;
}
/* 当屏幕小于750的时候 说明图的布局 */
@media screen and (max-width: 780px) {
  .yu-bao .row .col-sm-4 {
    padding-left: 0;
    padding-right: 0;
  }
  .yu-bao .row .col-sm-4:hover {
    cursor: pointer;
  }
  .yu-bao .row .col-sm-4:hover span {
    top: -100px;
  }
  .yu-bao .row .col-sm-4:hover div {
    bottom: 0;
  }
  .yu-bao .row .col-sm-4 span {
    display: inline-block;
    background-size: cover!important;
    display: block;
    width: 100%;
    height: 540px;
    position: relative;
    transition: all .15s linear;
    top: 0;
  }
  .yu-bao .row .col-sm-4 div {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: white;
    padding: 21px 5% 0;
    background-color: #3c3c3c;
    background: #3c3c3c;
    position: absolute;
    z-index: -1;
    bottom: -100px;
    color: #fff;
    transition: all .15s linear;
  }
  .yu-bao .row .col-sm-4 div h3 {
    font-size: 1.8rem;
  }
}
/* 第三栏展示图 */
.yu-zs {
  position: relative;
  overflow: hidden;
  z-index: 6;
}
.yu-zs a img {
  width: 100%;
}
.yu-zs .small {
  display: none;
}
@media screen and (max-width: 750px) {
  .yu-zs {
    position: relative;
    overflow: hidden;
    z-index: 6;
    width: 100%;
    background-color: #fff;
  }
  .yu-zs a {
    display: none;
  }
  .yu-zs a img {
    width: 50%;
    margin: 0 auto;
  }
  .yu-zs .small {
    display: block;
  }
}
